@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido :)</h1>
    
    <div style="margin: 40px">

        <a class="btn btn-primary" asp-controller="Clientes" asp-action="Index">
            Clientes
        </a>
        <a class="btn btn-primary" asp-controller="Productos" asp-action="Index">
            Productos
        </a>
        <a class="btn btn-primary" asp-controller="Empleados" asp-action="Index">
            Empleados
        </a>
        <a class="btn btn-primary" asp-controller="Proveedores" asp-action="Index">
            Proveedores
        </a>
    </div>
</div>
